body{
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header{
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

a{
  color: seashell;
}

.logo img{
  height: 50px;
  margin-left: 10px;
  width:
}

nav{
  display: inline-block;
}

.nav span{
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}

.content{
}

.one{
  background-image: url("./images/img-mission-background.jpg");
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.two{

}

.three{

}
