body{
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.two span{
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}

header{
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

a{
  color: seashell;
}

h2, h3, h4{
  margin: 0;
  padding: 10px;
  text-align: center;
}

.logo img{
  height: 50px;
  margin-left: 10px;
  width:
}

nav{
  display: inline-block;
}

.nav span{
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}

.content{

}

.one{
  background-image: url("./images/img-mission-background.jpg");
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.mission{
  background-color: black;
  width: 1200px;
  text-align: center;
}

.two{
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
}

.two img{
  width: 300px;
  height: 200px;
  margin: 10px;
}

.teasM{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Berry{
  display: flex;
  flex-direction: column;
}
.Rum{
  display: flex;
  flex-direction: column;
}
.Donuts{
  display: flex;
  flex-direction: column;
}
.Myrtle{
  display: flex;
  flex-direction: column;
}
.Bizarre{
  display: flex;
  flex-direction: column;
}

.three{
  background-image: url("./images/img-locations-background.jpg");
  display: flex;
  height: 570px;
  width: 1200px;
  margin: 0 auto;
}

.locations{
  display: flex;
  flex-direction: column;
}

.locations h2{
  margin-top: 70px;
}

.another{
  display: flex;
  height: 500px;
  width: 1200px;
  flex-direction: row;
  justify-content: center;
}

.local{
  background-color: black;
  height: 300px;
  width: 300px;
  opacity: 1;
}

.dtown, .ebay{
  margin-right: 40px;
}

.dtown, .ebay, .odale {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer{
  height: 200px;
}
